  :root {
  --first-color: #235aa6;
  --second-color: #1C1D25;
  --third-color: #F3F3F3;
  --fourth-color: #f06449;
  --fifth-color: #252a60; 
  --sixth-color: #4c4f65;
  --seventh-color: #111;
  --eighth-color: #f3f3f38c;
  --ninth-color: #eaeaea;
}