  :root {
  --first-color: #235aa6;
  --second-color: #1C1D25;
  --third-color: #F3F3F3;
  /* Button Color */
  --fourth-color: #f06449;
  /* Loader Color */
  --fifth-color: #252a60; 
  /* SVG Color - Text Color in Header*/
  --sixth-color: #4c4f65;
  /* Text Color in Main */
  --seventh-color: #111;
}