$primary-color: #ffe500;
$secondary-color: #1b1b1b;
$third-color: #707070;
$fourth-color: #f4f4f4;
$fifth-color: #ffffff;
$sixth-color: #8C8C8C;
$seventh-color: #1a1a1a;
$eighth-color: #6f6f6f;
$ninth-color: rgb(27, 27, 27);